[submodule "footprints/OPL_Kicad_Library"]
	path = footprints/OPL_Kicad_Library
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library.git
[submodule "footprints/scottokeebs"]
	path = footprints/scottokeebs
	url = https://github.com/joe-scotto/scottokeebs
